table {
    border: 1px solid darkgoldenrod;
    border-collapse: collapse;
    margin: auto;
    border-radius: 10px;
}

td {
    border: 1px solid #222;
    border-collapse: collapse;
}

.logo_ph {
    width: 250px;
    height: 350px;
    background: url("../../../atlas/assets/loading-fast.gif") no-repeat;
    background-size: 80%;
    background-position: center center;

}
.input_ph {
    outline: none;
    width: auto;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    background: linear-gradient(rgba(94, 241, 119),rgba(14, 241, 14, 0.425));
    color: darkred;
    font-family: monospace;
    font-weight: 700;
    animation: ch_in 3s infinite linear;
    padding: 1em;
}

@keyframes ch_in {
    0%{background: linear-gradient(rgba(94, 241, 119),rgba(14, 241, 14, 0.425));}
    20%{background: linear-gradient(rgb(241, 194, 94),rgba(218, 241, 14, 0.425));}
    50%{background: linear-gradient(rgb(94, 133, 241),rgba(14, 86, 241, 0.425));}
    75%{background: linear-gradient(rgb(229, 94, 241),rgba(214, 14, 241, 0.425));}
    100%{background: linear-gradient(rgba(94, 241, 119),rgba(14, 241, 14, 0.425));}
}

#text_key {
    font-family: monospace;
    font-style: normal;
    padding: 1em;color: crimson;
}
.bg_td{
    background: linear-gradient(rgba(226, 255, 98, 0.034),rgba(255, 218, 114, 0.37));
}
#a_href{
    font-family: monospace;
    cursor: help;
}

.input_ph1 {
    outline: none;
    width: 100px;
    height: 40px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    background: linear-gradient(rgb(241, 194, 94),rgba(218, 241, 14, 0.425));
    color: darkred;
    font-family: monospace;
    font-weight: 700;
   /* animation: ch_in 3s infinite linear;*/
   transition: 0.4s;
    padding: 1em;
    cursor: pointer;
}
.input_ph1:hover {width: 150px;}
h2 {
    font-family: cursive;
}